*{
    font-family: Arial, sans-serif;
}
.container-inicioAdmin {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto auto auto;

  
}


/* Acciones */
.editarCategoria:hover,
.eliminarCategoria:hover,
.editarUsuario:hover,
.eliminarUsuario:hover {
  cursor: pointer;
}


